:root {
	--clr-accent: hsl(0, 0%, 95%);
	--clr-text: hsla(0, 0%, 100%, 0.75);
	--first-column-background: hsl(31, 77%, 52%);
	--second-column-background: hsl(184, 100%, 22%);
	--third-column-background: hsl(179, 100%, 13%);

	--fs: 15px;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
main {
	height: 100%;
}

body {
	font-family: "Lexend Deca", sans-serif;
	font-size: var(--fs);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product__column_first {
	background-color: var(--first-column-background);
}
.product__column_second {
	background-color: var(--second-column-background);
}
.product__column_third {
	background-color: var(--third-column-background);
}

.product {
	max-width: 920px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	overflow: hidden;
	border-radius: 10px;
}

.product__column {
	padding: 50px;
}

.car-icon {
	margin-bottom: 40px;
}

.product__name {
	font-family: "Big Shoulders Display", sans-serif;
	color: var(--clr-accent);
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.product__ad-text {
	line-height: 1.5em;
	color: var(--clr-text);
	margin-bottom: 100px;
}

.product__button {
	font-family: "Lexend Deca", sans-serif;
	display: flex;
	justify-items: center;
	align-items: center;
	cursor: pointer;
	border-radius: 50px;
	border: none;
	padding: 15px;
	padding-right: 30px;
	padding-left: 30px;
}
.product__button:hover {
	color: var(--clr-accent);
	border: 3px solid var(--clr-accent);
}
.product__button_first:hover {
	background-color: var(--first-column-background);
}

.product__button_second:hover {
	background-color: var(--second-column-background);
}

.product__button_third:hover {
	background-color: var(--third-column-background);
}

.product__button_first {
	color: var(--first-column-background);
}

.product__button_second {
	color: var(--second-column-background);
}

.product__button_third {
	color: var(--third-column-background);
}

@media screen and (max-width: 768px) {
	main {
		display: block;

		padding: 10px 40px;
	}

	.product {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}
}
