:root {
	--clr-accent: hsl(0, 0%, 95%);
	--clr-text: hsla(0, 0%, 100%, 0.75);
	--first-column-background: hsl(31, 77%, 52%);
	--second-column-background: hsl(184, 100%, 22%);
	--third-column-background: hsl(179, 100%, 13%);

	--fs-normal: 15px;
	--fs-greater: 40px;
	--f-opacity: 0.8;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
main {
	height: 100%;
}

body {
	font-family: "Lexend Deca", sans-serif;
	font-size: var(--fs-normal);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card_first {
	background-color: var(--first-column-background);
}
.card_second {
	background-color: var(--second-column-background);
}
.card_third {
	background-color: var(--third-column-background);
}

.cards {
	max-width: 920px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	overflow: hidden;
	border-radius: 10px;
}

.card {
	padding: 50px;
}

.car-icon {
	margin-bottom: 40px;
}

.card__name {
	font-family: "Big Shoulders Display", sans-serif;
	color: var(--clr-accent);
	font-size: var(--fs-greater);
	text-transform: uppercase;
	margin-bottom: 40px;
}

.card__ad-text {
	line-height: 1.5em;
	color: var(--clr-text);
	opacity: var(--f-opacity);
	margin-bottom: 100px;
}

.card__button {
	font-family: "Lexend Deca", sans-serif;
	font-weight: bold;
	display: flex;
	justify-items: center;
	align-items: center;
	cursor: pointer;
	border-radius: 50px;
	border: none;
	padding: 15px;
	padding-right: 30px;
	padding-left: 30px;
}
.card__button:hover {
	background-color: transparent;
	color: var(--clr-accent);
	outline: 3px solid var(--clr-accent);
	transition: 0.5s;
}

.card__button_first {
	color: var(--first-column-background);
}

.card__button_second {
	color: var(--second-column-background);
}

.card__button_third {
	color: var(--third-column-background);
}

.card__button:active {
	transform: translateY(10px);
}

@media screen and (max-width: 768px) {
	main {
		padding: 80px 20px;
		height: fit-content;
	}

	.cards {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}

	.car-icon,
	.card__name,
	.card__ad-text {
		margin-bottom: 30px;
	}
}
